.awards {
    width: 100vw;
    margin: 0;
    padding: 0;
}

.planeImg {
    max-width: 100%;
    object-fit: contain;
}

.awardImg {
    /*height: 50%;*/
    height: 200px;
    width: 200px;
    margin: 12% auto;
    transition: height 1s;
}

.awardCard, h2 {
    font-family: "Roboto Condensed", serif;
    padding: 0;
    text-align: center;
}
