.banner {
    width: 100vw;
    height: calc(100vw / 2.4);
    background: repeating-linear-gradient(
            45deg,
            #6c93a7,
            #6c93a7 10px,
            #9cc3d8 10px,
            #9cc3d8 20px
    );
}

.bannerImg {
    width: 60%;
    top: calc(((100vw / 2.4) - 60%) / 2);
    left: 5%;
}

.phrases p {
    position: absolute;
    padding: calc(100vw / 100);
    top: calc(60px + (100vw / 2.4) / 2);
    left: 60vw;

    font-family: var(--font-decor);
    font-size: calc(100vw / 15);
    color: var(--text-light);
    /*color: var(--purple-light);*/
    text-shadow: var(--shaddow);
    white-space: nowrap;

    opacity: 0;
    background-color: var(--purple-mid);
    /*background-color: #a477ad00;*/
    box-shadow: var(--shaddow);

    animation: topToBottom 12.5s linear infinite 0s;
    -ms-animation: topToBottom 12.5s linear infinite 0s;
    -webkit-animation: topToBottom 12.5s linear infinite 0s;
}

.phrases p:nth-child(2) {
    animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.phrases p:nth-child(3) {
    animation-delay: 5s;
    -ms-animation-delay: 5s;
    -webkit-animation-delay: 5s;
}

.phrases p:nth-child(4) {
    animation-delay: 7.5s;
    -ms-animation-delay: 7.5s;
    -webkit-animation-delay: 7.5s;
}

.phrases p:nth-child(5) {
    animation-delay: 10s;
    -ms-animation-delay: 10s;
    -webkit-animation-delay: 10s;
}

@-webkit-keyframes topToBottom {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    25% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    30% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
