.featuresSection {
    margin: 1rem auto;
    text-align: center;
    font-size: calc(100vw / 20);
}

.featureRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    margin: 70px;
}

.featureName, .featureDesc {
    margin: 0;
    padding: auto;
}

.featureName {
    font-size: xx-large;
    font-family: var(--font-decor);
    text-shadow: var(--shaddow);
    min-width: 300px;
    min-height: 40px;
    align-self: center;
}

.featureDesc {
    font-size: x-large;
    font-weight: lighter;
    width: 500px;
    align-self: center;
    text-align: center;
}

.featureName p {
    font-family: var(--font-decor);
}
