.featuresSection {
    margin: 1rem auto;
    text-align: center;
    font-size: calc(100vw / 20);
}

.featureRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
    margin: 70px;
}

.featureName, .featureDesc {
    margin: 0;
    padding: auto;
}

.featureName {
    font-size: xx-large;
    font-family: var(--font-decor);
    text-shadow: var(--shaddow);
    min-width: 300px;
    min-height: 40px;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.featureDesc {
    font-size: x-large;
    font-weight: lighter;
    width: 500px;
    align-self: center;
    text-align: center;
}

.featureName p {
    font-family: var(--font-decor);
}

.featureDecor {
    display: inline;
    height: 0;
    width: 0;
    z-index: -1;
    margin-right: 5px;

    border-style: solid;
    border-width: 7px;
    border-radius: 7px;
    border-top-color: var(--purple-mid);
    border-left-color: var(--purple-dark);
    border-right-color: var(--blue-dark);
    border-bottom-color: var(--blue-mid);
}
