.box {
    background-color: #323232;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    width: 100vw;
    padding: 20px;
    font-size: 0.8rem;
}

.svgLogo {
    width: 20px;
    margin: 7px;

}

.link {
    color: var(--text-light);
    font-size: 1rem;
}

.link:hover {
    color: var(--blue-light);
}

.link:visited {
    color: var(--purple-light);
}
