@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Condensed|Shadows+Into+Light');

body{
    background-image: url("../../static/images/paper-bcg.png");
    overflow-y: scroll;
    overflow-x: hidden;
}
